html, body {
    margin: 0;
    font-family: 'Trebuchet MS';
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    text-decoration: none;
    width: 15%;
    background-color: rgb(212, 203, 203);
    padding: 10px 20px 0px;
}
.header {
    background-color:rgb(165, 185, 173);
    min-height: 100px;
}

.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(196, 196, 196);
    min-height: 100px;
}
